* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

html {
  scroll-behavior: smooth;
  height: 100%; }

body {
  background-color: white;
  width: 100%;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

main {
  height: 100%; }

.sattvaLogo {
  width: 55px; }

.formularioContacto {
  width: 90%;
  padding: 20px;
  display: inline-block;
  align-self: center; }

.formularioContacto input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

input[type=submit] {
  width: 100%;
  background-color: #bb7d8e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #bb7d8e; }

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 8px 0; }

.mapContacto {
  padding: 12px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 500px;
  gap: 20px; }

.mapContacto iframe {
  width: 100%;
  height: 100%; }

.mapContacto h5 {
  margin-bottom: 20px; }

@media only screen and (max-width: 750px) {
  .mapContacto {
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px; }
  .mapContacto iframe {
    width: 90%;
    height: 90%; } }

.navbar {
  font-size: 20px;
  justify-content: flex-end;
  font-weight: 500;
  background-color: #e2e8f2;
  align-items: center; }

.navbar-nav {
  align-items: center; }

@media only screen and (max-width: 992px) {
  .navbar {
    font-size: 20px;
    justify-content: flex-end;
    background-color: #e2e8f2;
    opacity: 5;
    font-weight: 500; } }

@media only screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 1.5px solid #bb7d8e;
    transition: border-bottom .15s;
    padding-bottom: 4px; }
  .active-custom {
    border-bottom: 1.5px solid #bb7d8e;
    transition: border-bottom .15s;
    padding-bottom: 4px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem; } }

.navbar-collapse {
  justify-content: center; }

.banner {
  padding: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/yoga-banner-home99.jpg); }

@media only screen and (max-width: 992px) {
  .banner {
    font-size: 15px;
    padding: 40px; } }

.titleBanner {
  animation: 4s animacionBanner ease-out;
  animation-iteration-count: infinite; }

@keyframes animacionBanner {
  0% {
    opacity: 0;
    transform: translateY(80%); }
  20% {
    opacity: 0.25; }
  50% {
    opacity: 0.75;
    transform: translateY(0%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.iframe-custom {
  width: 100%;
  height: 500px; }

.contenedorTiposYoga {
  background-color: #e8e7f9; }

.col-lg-6 p {
  font-size: large; }

.custom-footer {
  background-color: #bdc4dc;
  border-bottom: none;
  bottom: 0;
  position: relative; }

.border-footer {
  border-bottom: 1px solid black; }

.carousel-item {
  transition: transform 2s ease, opacity .5s ease-out;
  animation-iteration-count: infinite; }

.contenedorHorarios {
  border-bottom: black 1px solid;
  width: 100%; }

.articuloHorarios h4 {
  margin: 20px;
  text-align: center;
  background-color: #bcb5ce; }

.articuloHorarios p {
  margin: 20px;
  text-align: center; }

.contenedorRecomendaciones {
  margin: 20px;
  padding: 10px; }

.contenedorRecomendaciones h3 {
  margin: 10px 0px 10px 0px; }
