* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: white;
    width: 100%;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

main {
    height: 100%;
}

.sattvaLogo {
    width: 55px;

}

/* BANNER */

.banner {
    padding: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./images/yoga-banner-home99.jpg);
}

@media only screen and (max-width: 992px) {
    .banner {
        font-size: 15px;
        padding: 40px;
    }
}

.titleBanner {

    animation: 4s animacionBanner ease-out;
    animation-iteration-count: infinite;
}

@keyframes animacionBanner {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.75;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* NAV */



.navbar {
    font-size: 20px;
    justify-content: flex-end;
    font-weight: 500;
    
}


@media only screen and (max-width: 992px) {
    .navbar {
        font-size: 20px;
        justify-content: flex-end;
        background-color: #bcb5ce;
        opacity: 5;
        font-weight: 500;
        background: rgb(255, 255, 255);
        background: linear-gradient(321deg, rgba(255, 255, 255, 1) 0%, rgba(195, 192, 203, 1) 42%, rgba(188, 181, 206, 1) 52%, rgba(178, 168, 203, 1) 70%, rgba(162, 148, 198, 1) 87%);
    }

}

@media only screen and (min-width: 992px) {



    .navbar-light .navbar-nav .nav-link:hover {
        color: black;
        border-bottom: 1.5px solid #bb7d8e;
        transition: border-bottom .15s;
        padding-bottom: 4px;

    }

    .active {
        color: black;
        border-bottom: 1.5px solid #bb7d8e;
        transition: border-bottom .15s;
        padding-bottom: 4px;

    }
}


.navbar-nav {
    align-items: center;

}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.navbar-collapse {
    justify-content: center;
}

@media only screen and (min-width: 992px) {

    .contacto {
        justify-content: flex-end;
    }

    .sattvaLogo {
        margin-left: 0;
    }
}

/* ARTICULO PRINCIPAL  */

.img-content img {
    width: 100%;
    height: 100vh;
    display: block;
}


/* ARTICULO CLASES VIRTUALES */

.contenedorArticuloTipoYoga {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.contenedorArticuloTipoYoga iframe {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {

    .contenedorArticuloTipoYoga {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: normal;
        align-items: center;
    }

    .contenedorArticuloTipoYoga iframe {
        width: 100%;

    }
}

.articulo {
    background-color: #bcb5ce;
}

.articulo h2 {

    margin: 10px 0px 10px px;
    background-color: #fbe3e3;


}

.articulo h5,
h4 {

    margin: 10px 50% 10px 10px;
    background-color: #bcb5ce;

}

.articuloTiposYoga {

    margin: 20px 0px 10px 10px;

}

/* FOOTER  */



.custom-footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(321deg, rgba(255, 255, 255, 1) 0%, rgba(195, 192, 203, 1) 42%, rgba(188, 181, 206, 1) 52%, rgba(178, 168, 203, 1) 70%, rgba(162, 148, 198, 1) 87%);
    border-bottom: none;
    bottom: 0;
    position: relative;

}

.border-footer {
    border-bottom: 1px solid black;
}




/* GALERIA */

.gallery {
    margin: 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery img {

    width: 500px;
}

/* FORMULARIO DE CONTACTO */

.formularioContacto {

    width: 90%;
    padding: 20px;
    display: inline-block;
    align-self: center;
}

.formularioContacto input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #bb7d8e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #bb7d8e;

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 8px 0
}


.mapContacto {
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 500px;
    gap: 20px;
}

.mapContacto iframe {
    width: 100%;
    height: 100%;
}

.mapContacto h5 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
    .mapContacto {
        padding: 12px 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
    }

    .mapContacto iframe {
        width: 90%;
        height: 90%;
    }

}


/* ARTICULO HORARIOS PRESENCIALES */

.contenedorHorarios {
    border-bottom: black 1px solid;
    width: 100%;
}



.articuloHorarios h4 {
    margin: 20px;
    text-align: center;
    background-color: #bcb5ce;
}

.articuloHorarios p {
    margin: 20px;
    text-align: center;

}

.contenedorRecomendaciones {
    margin: 20px;
    padding: 10px;
}

.contenedorRecomendaciones h3 {
    margin: 10px 0px 10px 0px;
}