* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Mono', monospace;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fbe3e3;
    width: 100%;


}

main {
    margin-top: 170px;


}


.sattvaLogo {
    width: 100px;
    margin-left: 20px;

}



/* NAV */


.barraNavegacion {
    top: 0%;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.barraNavegacion__lista__item--logo {

    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.barraNavegacion__lista {
    list-style: none;
    background-color: #bcb5ce;
}

.barra__nav__container {
    background-color: #bb7d8e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.barraNavegacion__lista__item {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -10px;
    font-size: 18px;
    list-style: none;

}

.barraNavegacion__lista__item a {
    text-decoration: none;
    color: black;
}

.active {
    background-color: #a83f56;
    text-decoration: none;


}

.barraNavegacion__lista__item:hover:not(.active) {
    background-color: rgb(202, 49, 82);

}

@media only screen and (max-width: 1100px) {

    .barra__nav__container {
        background-color: #bb7d8e;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: -2rem;

    }

    .barraNavegacion__lista__item--logo {

        display: flex;
        justify-content: left;
        padding-bottom: 10px;
    }

    main {
        margin-top: 336px;
    }
}

/* ARTICULO PRINCIPAL  */

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;


}

.principal img {
    padding-top: 80px;
    width: 100%;
    

}


.tituloPrincipal {
    font-style: bold;
    padding-top: 25px;
    text-align: center;

}

.tituloSecundario {
    font-style: bold;
    padding-top: 25px;
    text-align: center;

}

article {
    background-color: #fbe3e3;


}


article p {

    padding: 15px 15px;
    font-size: 20px;
    text-align:left;



}

@media only screen and (max-width: 1000px) {

    .principal {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;


    }

    .principal img {

        width: 100%;
        height: auto;


    }

}

@media only screen and (min-width: 1500px) {

    .imgSecundaria {
        display: none ;
    }
}
/* ARTICULO CLASES VIRTUALES */

.contenedorArticuloTipoYoga {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.contenedorArticuloTipoYoga iframe {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {

    .contenedorArticuloTipoYoga {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: normal;
        align-items: center;
    }

    .contenedorArticuloTipoYoga iframe {
        width: 100%;

    }
}

.articulo {
    background-color: #bcb5ce;
}

.articulo h2 {

    margin: 10px 0px 10px px;
    background-color: #fbe3e3;


}

.articulo h5,
h4 {

    margin: 10px 50% 10px 10px;
    background-color: #bcb5ce;

}

.articuloTiposYoga {

    margin: 20px 0px 10px 10px;

}

/* FOOTER  */

footer {
    bottom: 0;
    width: 100%;
    background-color: #bcb5ce;
}


.footer__dir {
    background-color: #bcb5ce;
    padding: 58px 0 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;

}

@media only screen and (max-width: 750px) {
    .footer__dir {
        background-color: #bcb5ce;
        padding: 58px 0 54px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        justify-items: left;
        width: 100%;
    }
}

.footer__lista__redes {
    padding-top: 10px;
    text-align: center;
    margin: 0%;
    background-color: #bcb5ce;
    justify-content: center;


}

.footer__lista__redes__item {

    display: inline-block;

}

/* GALERIA */

.gallery {
    margin: 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery img {

    width: 500px;
}

/* FORMULARIO DE CONTACTO */

.formularioContacto {

    width: 90%;
    padding: 20px;
    display: inline-block;
    align-self: center;
}

.formularioContacto input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #bb7d8e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(202, 49, 82);

}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 8px 0
}


.mapContacto {
    padding: 12px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 500px;
    gap: 20px;
}

.mapContacto iframe {
    width: 100%;
    height: 100%;
}

.mapContacto h5 {
margin-bottom: 20px;
}

@media only screen and (max-width: 750px) {
    .mapContacto {
        padding: 12px 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 20px;
    }

    .mapContacto iframe {
        width: 90%;
        height: 90%;
    }
    
}


/* ARTICULO HORARIOS PRESENCIALES */

.contenedorHorarios {
    border-bottom: black 1px solid;
    width: 100%;
}



.articuloHorarios h4 {
    margin: 20px;
    text-align: center;
    background-color: #bcb5ce;
}

.articuloHorarios p {
    margin: 20px;
    text-align: center;

}

.contenedorRecomendaciones {
    margin: 20px;
    padding: 10px;
}

.contenedorRecomendaciones h3 {
    margin: 10px 0px 10px 0px;
}