.navbar {
    font-size: 20px;
    justify-content: flex-end;
    font-weight: 500;
    background-color: map-get($color, color-secundario);
    align-items: center;

}

.navbar-nav {
    align-items: center;
}


@media only screen and (max-width: 992px) {
    .navbar {
        font-size: 20px;
        justify-content: flex-end;
        background-color: map-get($color, color-secundario);
        opacity: 5;
        font-weight: 500;
    }

}

@media only screen and (min-width: 992px) {

    .navbar-light {
        .navbar-nav {
            .nav-link {

                &:hover {
                    border-bottom: 1.5px solid map-get($color, color-principal);
                    transition: border-bottom .15s;
                    padding-bottom: 4px;
                }
            }
        }

    }

    .active-custom {
        
        border-bottom: 1.5px solid map-get($color, color-principal);
        transition: border-bottom .15s;
        padding-bottom: 4px;

    }
}



@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    
    }
}

.navbar-collapse {
    justify-content: center;
}


.banner {
    padding: 110px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/yoga-banner-home99.jpg);
}

@media only screen and (max-width: 992px) {
    .banner {
        font-size: 15px;
        padding: 40px;
    }
}

.titleBanner {

    animation: 4s animacionBanner ease-out;
    animation-iteration-count: infinite;
}

@keyframes animacionBanner {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.75;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}