.contenedorHorarios {
    border-bottom: black 1px solid;
    width: 100%;
}

.articuloHorarios h4 {
    margin: 20px;
    text-align: center;
    background-color: #bcb5ce;
}

.articuloHorarios p {
    margin: 20px;
    text-align: center;

}

.contenedorRecomendaciones {
    margin: 20px;
    padding: 10px;
}

.contenedorRecomendaciones h3 {
    margin: 10px 0px 10px 0px;
}