* {
    margin: 0;
    padding: 0;
    font-family: $font-general;
  

}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: white;
    width: 100%;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

main {
    height: 100%;
}

.sattvaLogo {
    width: 55px;

}

